.App {
  text-align: center;
}

.header {
  background-color: rgb(111, 73, 48);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}img {
  width: 800px;
}